* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    color: #37343d;
}

p,
ul,
li,
a {
   font-family: 'Barlow Condensed', sans-serif;
   color: #37343d;
}

/* Utility CSS */
.section-padding {
    padding: 0.5rem 0;
}

.width-limiter {
    max-width: 1280px;
    margin: auto;
}

/* Head Area */
.head,
.hero {
    background-color: #000000;
}

/* Hero Area */

#bgVideo {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.overlay {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,.1) 20%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}